In [18]:
#pertama adalah mengimportkan library apa saja yang akan digunakan
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [19]:
import pandas as pd

di = pd.read_csv('insurance.csv')
di.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

**Tasks**

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)

In [20]:
labels_sex = {
    'male': 1,
    'female': 0
}

labels_smoker ={
    'yes' : 1,
    'no' : 0
}

labels_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

#selanjutnya untuk mengencode sex,smoker,region pada labels
di['sex'] = di['sex'].map(labels_sex)
di['smoker'] = di['smoker'].map(labels_smoker)
di['region'] = di['region'].map(labels_region)

#selanjutnya adalah mengecek data
di.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai Variance Inflation Factor (VIF) untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.

In [21]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

#dataset
X = di[['age', 'sex' ,'bmi' ,'children', 'smoker', 'region']]

#vif pada data frame
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

#selanjutnya adalah menghitung data pada vif
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                   for i in range(len(X.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.588734
1       sex  2.002652
2       bmi  9.938670
3  children  1.799980
4    smoker  1.261195
5    region  2.789478

In [7]:
di = di.drop(di.columns[0], axis=1)
di = di.drop(di.columns[1], axis=1)
di.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

In [8]:
data_baru = di
data_baru.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

5. Evaluasi model yang Anda buat dengan nilai r2

In [9]:
X = data_baru.iloc[:, :-1].values
y = data_baru.iloc[:, 4].values

In [10]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=80)

In [11]:
y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [12]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [22]:
di = np.concatenate((ym_test, ym_pred))
di

array([38511.6283    , 10579.711     ,  2416.955     ,  4402.233     ,
        2261.5688    ,  1261.442     ,  8515.7587    , 37742.5757    ,
       11165.41765   , 10043.249     ,  6555.07035   , 16085.1275    ,
        7740.337     , 39556.4945    , 10141.1362    ,  6551.7501    ,
        2331.519     , 34828.654     ,  9872.701     , 16796.41194   ,
        6402.29135   , 22478.6       , 21774.32215   ,  6435.6237    ,
       12146.971     ,  8944.1151    , 15006.57945   ,  2020.177     ,
       10072.05505   ,  7727.2532    ,  3172.018     ,  2710.82855   ,
        6079.6715    ,  3906.127     , 11013.7119    , 10577.087     ,
        1711.0268    , 22462.04375   ,  3756.6216    ,  1622.1885    ,
       16297.846     , 48885.13561   , 13126.67745   , 47462.894     ,
        9910.35985   ,  5397.6167    ,  9447.25035   ,  8442.667     ,
       10825.2537    , 18648.4217    , 12485.8009    ,  8334.45755   ,
        3956.07145   , 43921.1837    , 21978.6769    ,  7526.70645   ,
        2473.3341    ,  4133.64165   , 28287.89766   , 17468.9839    ,
       42111.6647    ,  2207.69745   , 11944.59435   ,  1964.78      ,
       44641.1974    ,  9549.5651    , 13470.8044    , 24869.8368    ,
        2457.21115   ,  5469.0066    ,  5385.3379    , 13831.1152    ,
       10269.46      ,  5478.0368    , 36021.0112    ,  2459.7201    ,
       12730.9996    ,  1826.843     ,  6393.60345   ,  7147.105     ,
       51194.55914   ,  6600.361     , 12646.207     ,  8232.6388    ,
       12982.8747    , 36085.219     ,  2103.08      ,  4571.41305   ,
        6948.7008    ,  1704.70015   ,  1252.407     ,  5438.7491    ,
        7441.501     , 21880.82      ,  1727.785     ,  7640.3092    ,
        5148.5526    , 34806.4677    ,  3046.062     ,  4337.7352    ,
        4340.4409    , 24106.91255   ,  1634.5734    , 34838.873     ,
       40720.55105   ,  8413.46305   ,  9991.03765   ,  5855.9025    ,
       11552.904     , 13019.16105   , 24476.47851   ,  1391.5287    ,
        2689.4954    , 10231.4999    , 40904.1995    ,  9264.797     ,
       26140.3603    ,  2302.3       ,  6799.458     ,  3062.50825   ,
        2643.2685    , 23563.01618   ,  1728.897     , 19798.05455   ,
       46599.1084    , 19444.2658    , 11455.28      , 10436.096     ,
        9432.9253    , 10493.9458    , 34472.841     ,  7421.19455   ,
        9058.7303    ,  2497.0383    ,  4415.1588    , 35160.13457   ,
        2203.47185   , 14394.5579    ,  4618.0799    , 37079.372     ,
        3704.3545    , 12231.6136    ,  6457.8434    ,  4441.21315   ,
        3176.2877    , 20420.60465   , 19107.7796    ,  6184.2994    ,
        9748.9106    ,  2899.48935   , 41097.16175   , 12890.05765   ,
       12269.68865   , 11454.0215    ,  7623.518     , 17748.5062    ,
        7046.7222    ,  6837.3687    , 13352.0998    ,  6985.50695   ,
        7256.7231    , 39597.4072    , 12950.0712    ,  1744.465     ,
        6571.02435   ,  6198.7518    ,  9282.4806    , 39727.614     ,
       14254.6082    , 12638.195     , 17361.7661    , 16455.70785   ,
       10338.9316    ,  4391.652     , 21677.28345   , 47291.055     ,
        4562.8421    , 21771.3423    ,  9048.0273    , 22144.032     ,
        4747.0529    ,  3766.8838    ,  7954.517     , 42983.4585    ,
        5425.02335   ,  4347.02335   ,  2927.0647    ,  4040.55825   ,
       12629.8967    ,  4433.3877    , 13844.506     ,  2203.73595   ,
        8125.7845    , 14692.66935   , 14410.9321    ,  1137.011     ,
       11289.10925   ,  1880.07      , 12741.16745   , 47928.03      ,
       12222.8983    , 16138.76205   , 17352.6803    ,  6753.038     ,
        4296.2712    , 12829.4551    ,  8823.98575   ,  8671.19125   ,
        5124.1887    , 32108.66282   , 10085.846     ,  4766.022     ,
       19515.5416    ,  9630.397     , 25333.33284   ,  9174.13565   ,
        1875.344     , 13429.0354    ,  7050.0213    , 17043.3414    ,
       10594.2257    ,  6313.759     , 33471.97189   , 10959.6947    ,
        7050.642     , 26109.32905   ,  5976.8311    ,  8601.3293    ,
        3077.0955    , 11830.6072    ,  2585.85065   , 42760.5022    ,
       11093.6229    ,  3171.6149    , 23887.6627    ,  8825.086     ,
       18963.17192   ,  1136.3994    ,  4564.19145   , 11534.87265   ,
        8233.0975    ,  8277.523     ,  2130.6759    , 10965.446     ,
       40182.246     ,  2464.6188    ,  9288.0267    ,  2304.0022    ,
       12044.342     , 27941.28758   , 42303.69215   ,  8059.6791    ,
       18955.22017   ,  5699.8375    ,  2438.0552    ,  4718.20355   ,
        3260.199     , 11150.78      , 17179.522     , 40273.6455    ,
       13143.33665   ,  5846.9176    , 36950.2567    , 41661.602     ,
       14571.8908    ,  5125.2157    , 10435.06525   , 14590.63205   ,
       33536.24210117,  8684.72250532,  8090.55208959,  7500.91217831,
        7508.43821408,  7500.91217831,  9274.3624166 , 31762.79186289,
        8087.55655827,  9567.68460657,  8978.0446953 ,  9864.00232788,
        8680.19200087, 32645.75396414,  9856.4762921 , 10157.32451785,
        8391.40031534, 31469.46967291,  8391.40031534,  8978.0446953 ,
        9567.68460657, 32949.59772122, 31476.99570868,  9563.15410213,
        7500.91217831,  9563.15410213, 33536.24210117,  7801.76040406,
        8087.55655827,  8098.07812536,  7801.76040406,  8098.07812536,
        8677.19646955,  9269.83191215,  8973.51419085,  7500.91217831,
        8383.87427957, 32645.75396414,  8095.08259404,  8095.08259404,
       31469.46967291, 32063.64008863,  7801.76040406, 32942.07168544,
        8098.07812536,  8095.08259404,  8978.0446953 ,  7794.23436829,
        7797.22989961, 32056.11405286,  9864.00232788,  8677.19646955,
        8098.07812536, 31176.14748293, 32352.43177416,  7207.58998833,
        8095.08259404,  8098.07812536,  8684.72250532, 31476.99570868,
       32356.96227861,  8388.40478402,  8087.55655827,  8090.55208959,
       33536.24210117,  8684.72250532,  8095.08259404, 33825.0337867 ,
        8388.40478402,  8388.40478402,  8098.07812536,  7794.23436829,
        8976.50972217,  8684.72250532, 33242.91991119,  8388.40478402,
        8087.55655827,  7500.91217831,  7797.22989961,  7500.91217831,
       32059.10958419,  8680.19200087,  8981.04022662,  8684.72250532,
        7794.23436829, 32648.74949547,  8090.55208959,  7508.43821408,
        7207.58998833,  8087.55655827,  7500.91217831,  7794.23436829,
        8680.19200087, 32656.27553124,  7801.76040406,  9274.3624166 ,
        8978.0446953 , 32352.43177416,  8388.40478402,  8978.0446953 ,
        9274.3624166 , 34125.88201245,  8095.08259404, 31770.31789866,
       32945.06721677,  8386.86981089,  7508.43821408,  7797.22989961,
       10749.95996046,  8978.0446953 ,  7207.58998833,  7794.23436829,
        7794.23436829,  7207.58998833, 32946.60218989,  7801.76040406,
        8391.40031534,  7500.91217831, 11035.75611466,  7207.58998833,
        7797.22989961,  8973.51419085,  7801.76040406, 33536.24210117,
       31762.79186289, 33242.91991119,  7801.76040406,  8090.55208959,
        9567.68460657,  8687.71803664, 31469.46967291,  7508.43821408,
        8383.87427957,  7794.23436829,  8095.08259404,  8391.40031534,
        8388.40478402,  8087.55655827,  9277.35794792, 31770.31789866,
        7794.23436829,  7508.43821408,  8386.86981089,  8677.19646955,
        7508.43821408,  7500.91217831, 32653.27999991,  9864.00232788,
        8383.87427957,  8388.40478402, 32056.11405286,  8087.55655827,
        8687.71803664,  7508.43821408,  8391.40031534, 31476.99570868,
        8684.72250532,  8087.55655827,  7207.58998833,  9856.4762921 ,
        8386.86981089, 33825.0337867 ,  7207.58998833,  7801.76040406,
        7508.43821408,  8386.86981089,  8677.19646955, 31469.46967291,
        7508.43821408,  7801.76040406, 32355.42730549,  9277.35794792,
        8095.08259404,  9570.6801379 , 32066.63561996, 32949.59772122,
        8684.72250532, 32946.60218989,  8383.87427957, 31469.46967291,
        8383.87427957,  8684.72250532,  9570.6801379 , 31476.99570868,
        8976.50972217,  8388.40478402,  8383.87427957,  8677.19646955,
        8095.08259404,  8386.86981089, 31770.31789866,  8388.40478402,
        7794.23436829,  7508.43821408,  8087.55655827,  7794.23436829,
        8976.50972217,  8095.08259404,  8087.55655827, 32359.95780994,
        7508.43821408, 32056.11405286, 31176.14748293, 10157.32451785,
        9277.35794792, 33235.39387542,  8978.0446953 ,  7508.43821408,
        8973.51419085,  9266.83638083,  8090.55208959,  8391.40031534,
       31762.79186289,  8680.19200087,  9266.83638083,  7207.58998833,
        7801.76040406,  7508.43821408,  8388.40478402, 31762.79186289,
        7794.23436829,  9274.3624166 ,  8687.71803664,  8098.07812536,
        8391.40031534, 31765.78739421,  8684.72250532,  8095.08259404,
        8386.86981089,  7508.43821408,  8388.40478402, 32355.42730549,
        8095.08259404,  8095.08259404, 32066.63561996,  8981.04022662,
        8383.87427957,  7794.23436829,  9567.68460657,  8087.55655827,
        8684.72250532,  7801.76040406,  7508.43821408,  7500.91217831,
       33828.02931802,  8095.08259404,  8677.19646955,  8973.51419085,
        8098.07812536,  9269.83191215, 32056.11405286,  9277.35794792,
        7801.76040406,  7794.23436829,  8383.87427957,  8978.0446953 ,
        7500.91217831,  8981.04022662, 32352.43177416, 32352.43177416,
        8087.55655827,  9274.3624166 , 31762.79186289, 32359.95780994,
       32356.96227861,  7797.22989961,  8087.55655827, 10157.32451785])

In [28]:
#selanjutnya adalah menghitung R2 score
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.5984897338733263

6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus medical insurance costs?

In [33]:
#sama seperti nomor 5, tetapi ada sedikit yang diubah
X1 = data_baru.iloc[:, :-1].values
y1 = data_baru.iloc[:, 3].values

In [34]:
Xm_train1, Xm_test1, ym_train1, ym_test1 = train_test_split(X1, y1, test_size=0.2, random_state=80)

In [35]:
y1 = y1.reshape(len(y), 1)
y1.shape

(1338, 1)

In [48]:
mlr1 = LinearRegression()
mlr1.fit(Xm_train, ym_train)

ym_pred1 = mlr1.predict(Xm_test)

In [49]:
di1 = np.concatenate((ym_test, ym_pred))
di1

array([38511.6283    , 10579.711     ,  2416.955     ,  4402.233     ,
        2261.5688    ,  1261.442     ,  8515.7587    , 37742.5757    ,
       11165.41765   , 10043.249     ,  6555.07035   , 16085.1275    ,
        7740.337     , 39556.4945    , 10141.1362    ,  6551.7501    ,
        2331.519     , 34828.654     ,  9872.701     , 16796.41194   ,
        6402.29135   , 22478.6       , 21774.32215   ,  6435.6237    ,
       12146.971     ,  8944.1151    , 15006.57945   ,  2020.177     ,
       10072.05505   ,  7727.2532    ,  3172.018     ,  2710.82855   ,
        6079.6715    ,  3906.127     , 11013.7119    , 10577.087     ,
        1711.0268    , 22462.04375   ,  3756.6216    ,  1622.1885    ,
       16297.846     , 48885.13561   , 13126.67745   , 47462.894     ,
        9910.35985   ,  5397.6167    ,  9447.25035   ,  8442.667     ,
       10825.2537    , 18648.4217    , 12485.8009    ,  8334.45755   ,
        3956.07145   , 43921.1837    , 21978.6769    ,  7526.70645   ,
        2473.3341    ,  4133.64165   , 28287.89766   , 17468.9839    ,
       42111.6647    ,  2207.69745   , 11944.59435   ,  1964.78      ,
       44641.1974    ,  9549.5651    , 13470.8044    , 24869.8368    ,
        2457.21115   ,  5469.0066    ,  5385.3379    , 13831.1152    ,
       10269.46      ,  5478.0368    , 36021.0112    ,  2459.7201    ,
       12730.9996    ,  1826.843     ,  6393.60345   ,  7147.105     ,
       51194.55914   ,  6600.361     , 12646.207     ,  8232.6388    ,
       12982.8747    , 36085.219     ,  2103.08      ,  4571.41305   ,
        6948.7008    ,  1704.70015   ,  1252.407     ,  5438.7491    ,
        7441.501     , 21880.82      ,  1727.785     ,  7640.3092    ,
        5148.5526    , 34806.4677    ,  3046.062     ,  4337.7352    ,
        4340.4409    , 24106.91255   ,  1634.5734    , 34838.873     ,
       40720.55105   ,  8413.46305   ,  9991.03765   ,  5855.9025    ,
       11552.904     , 13019.16105   , 24476.47851   ,  1391.5287    ,
        2689.4954    , 10231.4999    , 40904.1995    ,  9264.797     ,
       26140.3603    ,  2302.3       ,  6799.458     ,  3062.50825   ,
        2643.2685    , 23563.01618   ,  1728.897     , 19798.05455   ,
       46599.1084    , 19444.2658    , 11455.28      , 10436.096     ,
        9432.9253    , 10493.9458    , 34472.841     ,  7421.19455   ,
        9058.7303    ,  2497.0383    ,  4415.1588    , 35160.13457   ,
        2203.47185   , 14394.5579    ,  4618.0799    , 37079.372     ,
        3704.3545    , 12231.6136    ,  6457.8434    ,  4441.21315   ,
        3176.2877    , 20420.60465   , 19107.7796    ,  6184.2994    ,
        9748.9106    ,  2899.48935   , 41097.16175   , 12890.05765   ,
       12269.68865   , 11454.0215    ,  7623.518     , 17748.5062    ,
        7046.7222    ,  6837.3687    , 13352.0998    ,  6985.50695   ,
        7256.7231    , 39597.4072    , 12950.0712    ,  1744.465     ,
        6571.02435   ,  6198.7518    ,  9282.4806    , 39727.614     ,
       14254.6082    , 12638.195     , 17361.7661    , 16455.70785   ,
       10338.9316    ,  4391.652     , 21677.28345   , 47291.055     ,
        4562.8421    , 21771.3423    ,  9048.0273    , 22144.032     ,
        4747.0529    ,  3766.8838    ,  7954.517     , 42983.4585    ,
        5425.02335   ,  4347.02335   ,  2927.0647    ,  4040.55825   ,
       12629.8967    ,  4433.3877    , 13844.506     ,  2203.73595   ,
        8125.7845    , 14692.66935   , 14410.9321    ,  1137.011     ,
       11289.10925   ,  1880.07      , 12741.16745   , 47928.03      ,
       12222.8983    , 16138.76205   , 17352.6803    ,  6753.038     ,
        4296.2712    , 12829.4551    ,  8823.98575   ,  8671.19125   ,
        5124.1887    , 32108.66282   , 10085.846     ,  4766.022     ,
       19515.5416    ,  9630.397     , 25333.33284   ,  9174.13565   ,
        1875.344     , 13429.0354    ,  7050.0213    , 17043.3414    ,
       10594.2257    ,  6313.759     , 33471.97189   , 10959.6947    ,
        7050.642     , 26109.32905   ,  5976.8311    ,  8601.3293    ,
        3077.0955    , 11830.6072    ,  2585.85065   , 42760.5022    ,
       11093.6229    ,  3171.6149    , 23887.6627    ,  8825.086     ,
       18963.17192   ,  1136.3994    ,  4564.19145   , 11534.87265   ,
        8233.0975    ,  8277.523     ,  2130.6759    , 10965.446     ,
       40182.246     ,  2464.6188    ,  9288.0267    ,  2304.0022    ,
       12044.342     , 27941.28758   , 42303.69215   ,  8059.6791    ,
       18955.22017   ,  5699.8375    ,  2438.0552    ,  4718.20355   ,
        3260.199     , 11150.78      , 17179.522     , 40273.6455    ,
       13143.33665   ,  5846.9176    , 36950.2567    , 41661.602     ,
       14571.8908    ,  5125.2157    , 10435.06525   , 14590.63205   ,
       33536.24210117,  8684.72250532,  8090.55208959,  7500.91217831,
        7508.43821408,  7500.91217831,  9274.3624166 , 31762.79186289,
        8087.55655827,  9567.68460657,  8978.0446953 ,  9864.00232788,
        8680.19200087, 32645.75396414,  9856.4762921 , 10157.32451785,
        8391.40031534, 31469.46967291,  8391.40031534,  8978.0446953 ,
        9567.68460657, 32949.59772122, 31476.99570868,  9563.15410213,
        7500.91217831,  9563.15410213, 33536.24210117,  7801.76040406,
        8087.55655827,  8098.07812536,  7801.76040406,  8098.07812536,
        8677.19646955,  9269.83191215,  8973.51419085,  7500.91217831,
        8383.87427957, 32645.75396414,  8095.08259404,  8095.08259404,
       31469.46967291, 32063.64008863,  7801.76040406, 32942.07168544,
        8098.07812536,  8095.08259404,  8978.0446953 ,  7794.23436829,
        7797.22989961, 32056.11405286,  9864.00232788,  8677.19646955,
        8098.07812536, 31176.14748293, 32352.43177416,  7207.58998833,
        8095.08259404,  8098.07812536,  8684.72250532, 31476.99570868,
       32356.96227861,  8388.40478402,  8087.55655827,  8090.55208959,
       33536.24210117,  8684.72250532,  8095.08259404, 33825.0337867 ,
        8388.40478402,  8388.40478402,  8098.07812536,  7794.23436829,
        8976.50972217,  8684.72250532, 33242.91991119,  8388.40478402,
        8087.55655827,  7500.91217831,  7797.22989961,  7500.91217831,
       32059.10958419,  8680.19200087,  8981.04022662,  8684.72250532,
        7794.23436829, 32648.74949547,  8090.55208959,  7508.43821408,
        7207.58998833,  8087.55655827,  7500.91217831,  7794.23436829,
        8680.19200087, 32656.27553124,  7801.76040406,  9274.3624166 ,
        8978.0446953 , 32352.43177416,  8388.40478402,  8978.0446953 ,
        9274.3624166 , 34125.88201245,  8095.08259404, 31770.31789866,
       32945.06721677,  8386.86981089,  7508.43821408,  7797.22989961,
       10749.95996046,  8978.0446953 ,  7207.58998833,  7794.23436829,
        7794.23436829,  7207.58998833, 32946.60218989,  7801.76040406,
        8391.40031534,  7500.91217831, 11035.75611466,  7207.58998833,
        7797.22989961,  8973.51419085,  7801.76040406, 33536.24210117,
       31762.79186289, 33242.91991119,  7801.76040406,  8090.55208959,
        9567.68460657,  8687.71803664, 31469.46967291,  7508.43821408,
        8383.87427957,  7794.23436829,  8095.08259404,  8391.40031534,
        8388.40478402,  8087.55655827,  9277.35794792, 31770.31789866,
        7794.23436829,  7508.43821408,  8386.86981089,  8677.19646955,
        7508.43821408,  7500.91217831, 32653.27999991,  9864.00232788,
        8383.87427957,  8388.40478402, 32056.11405286,  8087.55655827,
        8687.71803664,  7508.43821408,  8391.40031534, 31476.99570868,
        8684.72250532,  8087.55655827,  7207.58998833,  9856.4762921 ,
        8386.86981089, 33825.0337867 ,  7207.58998833,  7801.76040406,
        7508.43821408,  8386.86981089,  8677.19646955, 31469.46967291,
        7508.43821408,  7801.76040406, 32355.42730549,  9277.35794792,
        8095.08259404,  9570.6801379 , 32066.63561996, 32949.59772122,
        8684.72250532, 32946.60218989,  8383.87427957, 31469.46967291,
        8383.87427957,  8684.72250532,  9570.6801379 , 31476.99570868,
        8976.50972217,  8388.40478402,  8383.87427957,  8677.19646955,
        8095.08259404,  8386.86981089, 31770.31789866,  8388.40478402,
        7794.23436829,  7508.43821408,  8087.55655827,  7794.23436829,
        8976.50972217,  8095.08259404,  8087.55655827, 32359.95780994,
        7508.43821408, 32056.11405286, 31176.14748293, 10157.32451785,
        9277.35794792, 33235.39387542,  8978.0446953 ,  7508.43821408,
        8973.51419085,  9266.83638083,  8090.55208959,  8391.40031534,
       31762.79186289,  8680.19200087,  9266.83638083,  7207.58998833,
        7801.76040406,  7508.43821408,  8388.40478402, 31762.79186289,
        7794.23436829,  9274.3624166 ,  8687.71803664,  8098.07812536,
        8391.40031534, 31765.78739421,  8684.72250532,  8095.08259404,
        8386.86981089,  7508.43821408,  8388.40478402, 32355.42730549,
        8095.08259404,  8095.08259404, 32066.63561996,  8981.04022662,
        8383.87427957,  7794.23436829,  9567.68460657,  8087.55655827,
        8684.72250532,  7801.76040406,  7508.43821408,  7500.91217831,
       33828.02931802,  8095.08259404,  8677.19646955,  8973.51419085,
        8098.07812536,  9269.83191215, 32056.11405286,  9277.35794792,
        7801.76040406,  7794.23436829,  8383.87427957,  8978.0446953 ,
        7500.91217831,  8981.04022662, 32352.43177416, 32352.43177416,
        8087.55655827,  9274.3624166 , 31762.79186289, 32359.95780994,
       32356.96227861,  7797.22989961,  8087.55655827, 10157.32451785])

In [50]:
r2_mlr1 = r2_score(ym_test, ym_pred)
print(r2_mlr1)

0.5984897338733263